<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.CustomerMapper">
<select id="selectById" resultType="Customer" parameterType="string">
SELECT * FROM customer WHERE id=#{id}
</select>

<insert id="insert" parameterType="Customer">
INSERT INTO customer(id,pwd,name, status, buildingno, address) 
VALUES (#{id},#{pwd},#{name},1,#{buildingno},#{address})
</insert>
</mapper>