<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.OrderMapper">
<resultMap type="OrderInfo" id="orderMap" autoMapping="true">
	<id property="orderNo" column="order_no"/>
	<!-- <result property="orderDt"  column="order_dt"/> -->
	<collection property="lines" ofType="OrderLine" autoMapping="true">
		<id property="orderNo"  column="order_no"/>
		<id property="orderP.prodNo"  column="prod_no"/>	
		<association property="orderP" javaType="Product" autoMapping="true"/>
		
		
		<!-- <result property="orderQuantity"    column="order_quantity" />	
		<result property="orderP.prodName"  column="prod_name"/>
		<result property="orderP.prodPrice" column="prod_price" />  -->
		
	</collection>
</resultMap>
<insert id="insertInfo" parameterType="OrderInfo">
INSERT INTO order_info(ORDER_NO,ORDER_ID,ORDER_DT) 
VALUES  (order_seq.NEXTVAL, #{orderId}, SYSDATE)
</insert>

<insert id="insertLine" parameterType="OrderLine">
INSERT INTO order_line(ORDER_NO, ORDER_PROD_NO,  ORDER_QUANTITY) 
VALUES (order_seq.CURRVAL,    #{orderP.prodNo}, #{orderQuantity})
</insert>

<select id="selectById" parameterType="string"                        resultMap="orderMap" >
SELECT info.order_no, info.ORDER_ID, info.order_dt,
       order_quantity,
       p.prod_no, p.prod_name,  prod_price
FROM order_info info JOIN order_line line ON (info.order_no = line.order_no)
                     JOIN product p ON (line.order_prod_no = p.prod_no)
WHERE order_id = #{id}
ORDER BY info.order_no DESC, line.order_prod_no ASC
</select>

</mapper>